body {
    margin: 0;
    font-family: 'Merriweather', serif;
}

.navbar {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size:15px;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px transparent;
}


.container-fluid {
    padding-right: 15 px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.intro-header {
    background-position: center;
    background-size: 100%;
    height: 600px;
    margin: 0;
}

.header-content {
    width: 100%;
    min-height: auto;
    position: relative;
    text-align: center;
    color: white;
}

.header-content-inner {
    padding-top: 100px;
}

hr {
    border-color: red;
    border-width: 4px;
    max-width: 100px;
}

.mainbody {
    text-align: center;
    color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 50px 0 65px;
}

.copyright {
    text-align: center;
}

.fa-stack {
    color: black;
}

.col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.team-member {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}